body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  /* background-color: #0d0fa1 ; */
  font-family: 'Roboto', sans-serif;
}
.container-fluid {
  /* background-color: #343a40; */
  /* background-color: #e1e1e1; */
  background-color: #0d0fa1;
  /* background-color: #f1f1f1; */
  /* background-color: #f8f8f8; */
  /* background-color: #2e6a47; */
  position: absolute;
  top: 0;
}

#navbarNav a {
  color: white;
  display: block;
 padding: 10px 35px;
  transition: color 0.3s; /* Adiciona transição suave para a cor */
}

#navbarNav a:hover {
  color: #f8f8f8; /* Cor do texto quando o mouse passar sobre os itens */
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
  width: 100%; /* Garantir que ocupe toda a largura */
}

.nav-item {
  margin: 0 10px; /* Opcional: para adicionar um pequeno espaçamento lateral entre os itens */
}

.dropdown-menu {
  background-color: #212529;
}

.logo-nav {
  width: 75px;
  height: 75px;
}

/* Estilo para o botão hamburger com imagem personalizada */
.navbar-toggler-icon {
  background: transparent; /* Remove o fundo padrão */
  border: none; /* Remove a borda padrão */
}

.navbar-toggler-icon img {
  width: 25px; /* Ajuste o tamanho da imagem */
  height: auto; /* Mantém a proporção da imagem */
}

/* Estilo do ícone hamburger */
.navbar-toggler-icon {
  background-color: transparent; /* Remove qualquer fundo do botão */
  border: none; /* Remove a borda do botão */
}

/* Mudando as linhas do ícone hamburger para branco */
.navbar-toggler-icon span {
  color: chartreuse; /* Torna as 3 linhas do ícone brancas */
}

/* Estilos do botão hamburger */
.navbar-toggler {
  border: none; /* Remove a borda do botão */
}
.container-Inicio{
    width: 100%;
    background-color: #4E4EEA;
   padding-top:70px;
}
.container-Inicio img {
    width: 40vw;
    height: auto;
    justify-content: flex-start;
    left: 50px;
    transition: transform 0.10s ease;
}

.container-Inicio img:hover {
    /* transform: scale(1.2); Aumenta o zoom da imagem em 20% */
}
p{
    font-size: 20px;
    text-align: center;
}
@media (max-width: 992px) {
  .navbar-nav {
    display: block; /* Modifica a navegação para bloco em telas pequenas */
    text-align: center; /* Centraliza os itens no menu */
  }

  .nav-item {
    margin-bottom: 10px; /* Adiciona espaçamento inferior entre os itens no mobile */
  }
}
