.container-fluid{
    /* background-color: #343a40; */
    /* background-color: #e1e1e1; */
    background-color: #212529;
    /* background-color: #f1f1f1; */
    /* background-color: #f8f8f8; */
    /* background-color: #2e6a47; */
}

#navbarNav a{
    color: white;
    margin-right: 15px;  /* Adiciona um espaçamento de 15px entre os itens */
    transition: color 0.3s;      /* Adiciona transição suave para a cor */
}

#navbarNav a:hover {
    color: #f8f8f8;              /* Cor do texto quando o mouse passar sobre os itens */
}

.navbar-nav {
    display: flex;               /* Usando Flexbox */
    justify-content: space-evenly; /* Espaçamento igual entre os itens */
    width: 100%;                  /* Garantir que ocupe toda a largura */
}

.nav-item {
    margin: 0 10px;              /* Opcional: para adicionar um pequeno espaçamento lateral entre os itens */
}

.dropdown-menu{
    background-color: #212529;
}

.logo-nav {width: 60px; height: 60px;}

/* Estilo para o botão hamburger com imagem personalizada */
.navbar-toggler-icon {
    background: transparent; /* Remove o fundo padrão */
    border: none; /* Remove a borda padrão */
}

.navbar-toggler-icon img {
    width: 25px;  /* Ajuste o tamanho da imagem */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilo do ícone hamburger */
.navbar-toggler-icon {
    background-color: transparent;  /* Remove qualquer fundo do botão */
    border: none;                   /* Remove a borda do botão */
}

/* Mudando as linhas do ícone hamburger para branco */
.navbar-toggler-icon span {
    color: chartreuse       /* Torna as 3 linhas do ícone brancas */
}

/* Estilos do botão hamburger */
.navbar-toggler {
    border: none;                   /* Remove a borda do botão */
}

@media (max-width: 992px) {
    .navbar-nav {
        display: block;              /* Modifica a navegação para bloco em telas pequenas */
        text-align: center;          /* Centraliza os itens no menu */
    }

    .nav-item {
        margin-bottom: 10px;         /* Adiciona espaçamento inferior entre os itens no mobile */
    }
}