
/* Estilos Gerais */
.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
}

.footer h5 {
    margin-bottom: 1.5rem;
    font-size: 2.25rem;
    font-weight: bold;
}

.footer ul {
    padding: 0;
    list-style-type: none;
}

.footer ul li {
    margin: 0.5rem 0;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    transition: color 0.3s;
}

.footer ul li a:hover {
    color: #ff7f50;
}

.social-icon {
    color: #fff;
    text-decoration: none;
    font-size: 2.25rem;
    margin-right: 1rem;
}

.social-icon:hover {
    color: #ff7f50;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer .row {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer .col-md-3 {
        margin-bottom: 2rem;
        text-align: center;
    }

    .footer .col-md-3 h5 {
        font-size: 2.5rem;
    }

    .footer ul {
        padding-left: 0;
    }

    .footer ul li {
        margin-bottom: 1rem;
    }
    .card {
        margin: 1rem; /* Adiciona margem ao redor de cada card */
    }
    .row {
        justify-content: center; /* Alinha os cards no centro */
    }
}

@media (max-width: 480px) {
    .footer .col-md-3 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .footer .social-icon {
        display: block;
        margin-bottom: 1rem;
    }
}

/* Efeito de escala para ícones e botões */
.icon img:hover, .btn:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


.icon img {
    width: 100%;  /* Garante que a largura da imagem será 100% da coluna */
    max-width: 9rem; /* Limita o tamanho máximo para o ícone */
    height: auto;  /* Mantém a proporção da imagem */
}

.blockquote-footer{
    color: #00ff3c;
}



/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração padrão de seções */
.section{
    min-height: 90vh;
    background-color: var(--background-light);
}
/* Fundo svg principal */
.background-image {
    background-image: url(../icons/img-bg1.svg);
    background-size: cover;
    background-position: center center;
}



/* Seção 1: Carro e Texto */
.hero-section {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    align-items: center;
    gap: 2rem;
    height: 90vh;
    padding: 2rem;
    background: transparent;
}

.hero-content {  /* Conteúdo Texto */
    text-align: left;
    padding: 2rem
}

.hero-content h1 {  /* Texto principal */
    font-size: clamp(1.6rem, 4.3vw, 5.3rem);
    margin-bottom: 1.5rem;
    color: var(--text-color);
}

.hero-content p {  /* Parágrafo */
    color: var(--text-color);
    font-size: 1.7rem;
    margin-bottom: 2rem;
    line-height: 1.6;
}

.cta-button {  /* Botão de Planos */
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    color: var(--text-color);
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-button:hover {
    background-color: var(--button-hover);
}

.hero-image-area {  /* Conteúdo Imagem*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-area img { /* Imagem do Carro */
    width: 100%;
    border-radius: 2rem;
}

/* Responsividade da Seção 1 */
@media (max-width: 900px) {
    .hero-section {
        grid-template-columns: 1fr;
        gap: 0;
        padding-top: 8.5rem;
    }

    .hero-content {
        text-align: center;
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content p {
        font-size: 1.7rem;
    }

    .hero-image-area img {
        max-width: 60rem;
    }
    .cta-button {
        font-family: 'Roboto', sans-serif;
        font-size: 1.7rem;
        color: var(--text-color);
        background-color: var(--secondary-color);
        border-radius: 0.5rem;
        transition: background-color 0.3s ease, transform 0.2s ease;
    }
    
    .cta-button:hover {
        background-color: var(--button-hover);
    }
}





/* Seção 2: Tranquilidade para família */
.security-promo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 1rem;
    background-image: url(../icons/img-bg4.svg); /* Fundo claro para contraste */
    background-size: cover;
    background-position: center center;
}
  
.promo-container {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    max-width: 130rem; /* Largura máxima */
    width: 100%;
    align-items: center;
    gap: 4rem;
    min-height: 60vh;
}
  
.promo-image {
    flex: 1;
    min-width: 20rem;
}
  
.promo-image img {
    width: 100%;
    height: auto;
}
  
.promo-content {
    flex: 1;
    text-align: left;
}
  
.promo-content h1 {
    font-size: clamp(3rem, 4.3vw, 4rem);
    margin-bottom: 1rem;
    color: var(--text-dark);
}
  
.promo-content p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    color: var(--text-dark);
    line-height: 1.6;
}


/* Responsividade da Seção 2 */
@media (max-width: 850px) {
    .promo-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .promo-image {
        max-width: 70rem;
        margin: 0 auto;
    }
    .promo-content {
        padding: 1rem;
        text-align: center;
    }
}





/* Seção 3: Call to Action */
.cta {
    position: relative;
    background-image: url('../img/cta-bg.jpeg'); /* Caminho para a imagem de fundo será adicionado aqui */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 6rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
  
.cta::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Escurece a imagem de fundo */
    z-index: 1;
}
  
.cta-content {
    position: relative;
    z-index: 2; /* Garante que o conteúdo fique acima do escurecimento */
}
  
.cta h1 {
    font-size: clamp(3rem, 4.3vw, 4rem);
    margin-bottom: 1rem;
}
  
.cta p {
    font-size: 1.7rem;
    margin-bottom: 2rem;
} 





/* Seção 4: Cards e Aplicações */
.section-cards {
    background-image: url(../icons/img-bg4.svg); /* Fundo claro para contraste */
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-h1 {
    font-size: clamp(3rem, 4.3vw, 4rem);
    margin-bottom: 2.6rem;
    color: var(--text-dark);
}

.separator {
    position: relative;
    transform: translateY(-50px);
    display: block; /* Torna o separador um elemento de bloco */
    width: 2.5px; /* Largura da linha */
    height: 7em; /* Altura da linha */
    background-color: var(--secondary-color);
    visibility: visible; /* Garante que o separador seja visível */
}

.cards-container {
    max-width: 120rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem
}

.card {
    background-color: #fff;
    color: var(--text-dark);
    border-radius: 1rem;
    padding: 2.3rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: auto;
    min-height: 24rem;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 11px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 5rem; /* Ajuste conforme necessário */
    height: auto;
    margin-bottom: 1rem;
}

.card h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.card p {
    font-size: 1.7rem;
    line-height: 1.5;
}

/* Responsividade da Seção 4 */
@media (max-width: 1000px) {
    .cards-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 650px) {
    .cards-grid {
        grid-template-columns: 1fr;
    }
}

body h5{
    font-size: 2.5rem;
}

body p, li, a{
    font-size: 1.7rem;
}

.card-body footer{
    font-size: 1.4rem
}