:root {
    --primary-color: #007bff; 
    --secondary-color: #f0a500; 
    --background-dark: #16162d;
    --text-color: #ffffff; 
    --light-gray: #f8f8f8;
    --background-light: #eee;
    --background-black: #202020;
    --text-dark: #333;
    --button-hover: #c97208;
}


/* Seção 1: Introdução. Parte inicial da Página */
.sobre-nos {
    background: url(../icons/img-bg3.svg);
    background-size: cover;
    background-position: center center/cover;
    padding: 4rem 2rem;
    height: 67.5rem;
}
  
.sobre-nos .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 130rem;
    margin: 0 auto;
    padding-top: 8.4rem;
}
  
.sobre-nos .texto {
    flex: 1;
    text-align: left;
    padding: 4rem 2rem;
}

.sobre-nos .titulo {
    font-size: clamp(3rem, 4.3vw, 4rem);
    margin-bottom: 1.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}
  
.sobre-nos .descricao {
    font-size: 1.7rem;
    line-height: 1.8;
    color: var(--text-color);
    margin-right: 6rem;
}
  
.sobre-nos .imagem {
    flex: 1;
    max-width: 50rem;
}
  
.sobre-nos .imagem img {
    max-width: 100%;
    border-radius: 8px;
}

@media (max-width: 900px) {
    .sobre-nos {
        height: auto;
    }
    .sobre-nos .container {
        flex-direction: column;
        padding: 3rem 0;
        gap: 0;
    }
    .sobre-nos .imagem {
        flex: 1;
        max-width: 45%;
        margin: 0 auto;
    }
    .sobre-nos .imagem img {
        min-width: 30rem;
    }
}





/* Seção 2: Valores em cards */
.principios-af {
    color: var(--text-dark);
    padding-bottom: 5rem;
    background: url(../icons/img-bg5.svg);
    background-size: cover;
    background-position: center center/cover;
}

.principios-af h2 {
    font-size: clamp(3rem, 4.3vw, 4rem);
    text-align: center;
    padding-top: 3rem;
}

.value-section {
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.value-title {
    background-color: var(--secondary-color);
    width: 80rem;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 2.1rem;
    padding: 1rem 5rem;
    border-radius: 0 5rem 5rem 5rem;
    text-align: center;
}
.value-title h3 span {
    padding: 0.5rem;
}

.value-text {
    font-size: 1.7rem;
    margin-right: 30%;
}
.value-text p {
    padding: 1rem;
}
.value-text ul {
    padding: 1rem;
}
.value-text ul li {
    list-style: none;
}


.value-section.right {
    align-items: end;
}
.value-section.right .value-title {
    border-radius: 5rem 0 5rem 5rem;
}
.value-section.right .value-text {
    margin-left: 30%;
    margin-right: 0;
    text-align: right;
}

@media (max-width: 900px) {
    .value-title {
        width: 100%;
    }
    .value-text {
        margin-right: 5%;
    }
    .value-section.right .value-text {
        margin-left: 5%;
    }
}