/* Reset Básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff; /* Azul */
    --secondary-color: #f0a500; /* Laranja */
    --text-color: #ffffff; /* Branco */
    --background-dark: #16162d; /* Azul Escuro */
    --background-light: #eee;
    --text-dark: #333; /* Cinza Escuro */
    --light-gray: #f8f8f8;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
}
h1, h2, h3, a {
    font-family: 'Poppins', Arial, sans-serif;
    text-decoration: none;
}

/* Navegação */
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar .logo img {
    height: 8rem;
    width: auto;
}

.nav-links {
    margin-bottom: 2rem;
}

.nav-links a {
    position: relative;
    color: #fff;
    font-size: 1.7rem;
    margin-right: 3rem;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: var(--secondary-color);
    transition: width 0.3s ease;
}

.nav-links a:hover {
    color: var(--secondary-color) /* Altera a cor do texto ao passar o mouse */
}

.nav-links a:hover::after {
    width: 100%; /* Linha se expande totalmente no hover */
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}